# Ignore virtual environment
venv/
.env
*.venv

# Ignore system-specific files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment-related files
*.env

# Ignore logs and temporary files
*.log
*.tmp

# Ignore dataset files
data/raw/
data/processed/

# Ignore models stored in Google Drive
models/
